<div class="ion-padding container">
    <h1>Scatter Page</h1>
    
    <mat-list>

        <mat-list-item>
            <button color="warn" (click)="debug()" mat-raised-button>
                Debug
            </button>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <button color="primary" *ngIf="!scatter.net.telos?.logged" (click)="tryToConnect('telos')" mat-raised-button>
                Connect to Telos
            </button>
            <span *ngIf="scatter.net.telos?.logged" (click)="disconnectFrom('telos')" mat-elevation-z2>
                Connected to Telos as {{scatter.net.telos.account.name}}
                <button color="accent" (click)="scatter.net.telos.logout()" mat-raised-button>
                    logout
                </button>
            </span>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <button color="primary" *ngIf="!scatter.net.eos?.logged" (click)="tryToConnect('eos')" mat-raised-button>
                Connect to EOS
            </button>
            <span *ngIf="scatter.net.eos?.logged" (click)="disconnectFrom('eos')" mat-elevation-z2>
                Connected to EOS {{scatter.net.eos.account.name}}
                <button color="accent" (click)="scatter.net.eos.logout()" mat-raised-button>
                    logout
                </button>
            </span>
        </mat-list-item>

    </mat-list>
    
</div>